*

!.gitignore


!/.my-zsh/
!/.my-zsh/*.iml
!/.my-zsh/custom
!/.my-zsh/custom/*
!/.my-zsh/completions
!/.my-zsh/completions/*

/.my-zsh/custom/client_profile.zsh


!/.vimrc
!/lefthook.yml
!/settings.json


!/.config
!/.config/*.iml
!/.config/starship.toml
!/.config/settings.json
!/.config/wsl.conf
!/.config/.wslconfig
!/.config/ubuntu.ico

!/bin
!/bin/assume-role

!/devcli
!/devcli/*.iml
!/devcli/devcli.d
!/devcli/devcli.d/*
!/devcli/devcli
!/devcli/_boilerplate.sh

!/devcli/conf
!/devcli/conf/Brewfile
!/devcli/conf/requirements.txt
!/devcli/conf/apt.txt


!/devcli/winsetup.ps1

!/Pictures
!/Pictures/2858530.jpg
